body{
  background-image: url("/static/images/background.png");
  background-attachment: fixed;
}

.ourphotos{
  border: 2px solid black;
  border-radius: 5px;
  position:relative;
    top:10%;
    left:5%;
  float: left;
}

.abouttext{
  float:right;
  margin-right: 7vw;
  overflow: hidden;
  position: relative;
    right: 10%;
  width: 35vw;
  height: auto;
  background-color: white;
  opacity: 0.7;
  border: 2px solid black;
  border-radius: 5px;
  padding: 2vh 2vw 1vh 2vw;
}

.caroheads{
  font-family: kohinoor bangla;
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.aboutcaro{
  width:80vw;
  height:85vh;
}

#hamzaphoto{
  width: 20vw;
  height: auto;
}

#jessphoto{
  width: 25vw;
  height: auto;
}

#chuphoto{
  width: 25vw;
  height: auto;
}

#patrickphoto{
  width: 20vw;
  height: auto;
}

#angelphoto{
  width: 25vw;
  height: auto;
}

#otherinfo{
  background-color: white;
  border: 2px solid #9D9BD7;
  border-radius: 5px;
  margin: 10vh 20vw 5vh 20vw;
}

#testingblock{
  background-color: white;
  border: 2px solid #9D9BD7;
  border-radius: 5px;
  margin: 70vh 20vw 5vh 20vw;
  padding: 5vh 5vw;
  overflow: auto;
}
