body{
  background-image: url("/static/images/background.png");
  background-attachment: fixed;
}

td{
  max-width: 4vw
}

th{
  background-color: #9D9BD7;
  color: white;
  max-width: 4vw
}

.form-control{
  display: inline;
  width: auto;
}

.searchbar{
  margin-left: 41vw;
}

.tableformat{
  margin: 10vh 3vw 3vh 3vw;
  background-color: white;
  border: 3px solid #9D9BD7;
  border-radius: 5px;
}

.headimage{
  margin: 10vh 30vw 3vh 30vw;
  width:560px;
  height:350px;
  border: 2px solid #9D9BD7;
  border-radius: 5px;
}

.dropcolor{
  background-color:white;
  color: #5958a8;
  border: 1px solid white;
}

.pagination > li > a{
    background-color: white;
    color: #5958a8;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover{
    color: #5958a8;
    background-color: #9D9BD7;
    border-color: #5958a8;
}

.pagination > .active > a{
    color: white;
    background-color: #eec4e8 !Important;
    border-color: #e1ccf0;
}

.pagination > .active > a:hover{
    background-color: #9D9BD7 !Important;
    color: white;
  }
