body{
  background-image: url("/static/images/background.png");
  background-attachment: fixed;
}

.itemwhole{
  margin-left: 5vw;
}

.itemimage{
  position:absolute;
    top:21%;
  margin-left: 5vw;
  background-color: white;
  border-radius: 5px;
}

.itemdescription{
  margin: 10vh 10vw 10vh 30vw;
  padding: 2vh 2vw 2vh 2vw;
  background-color: white;
  border: 2px solid #9D9BD7;
  border-radius: 5px;
}
