body{
  background-image: url("/static/images/background.png");
  background-attachment: fixed;
}

.bodytext{
  color: #5958a8;
  text-align: center;
  font-family: kohinoor bangla;
}

.imgfun{
  border: 2px solid #9D9BD7;
}

#carocontain{
  margin-top: 10vh;
  width:640px;
  height:400px;
}

#allcontain{
  margin-left: 3vh;
  margin-right: 3vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

#infocontain{
  margin: 10vh 10vw 10vh 10vw;
  border: 2px solid #9D9BD7;
  border-radius: 5px;
  background-color: white;
  text-align: left;
  padding: 5vh 3vw 3vh 3vw;
}

#aboutcontain{
  margin: 10vh 10vw 10vh 10vw;
  border: 2px solid #9D9BD7;
  border-radius: 5px;
  padding: 5vh 3vw 3vh 3vw;
  background-color: white;
}
