<html>
	<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			  crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/about.css" type="text/css"/>
	<link rel="icon" href="/static/images/logo.png">
	<title>
		About Us
	</title>
	</head>

		<body>
			<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #9D9BD7;">
	  			<a class="navbar-brand" href="{{url_for('index')}}" style = "font-family: kohinoor bangla;"><img src = "/static/images/logo.png" style = "width:50px; height:50px;"> Video Juegos</a>

  				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    					<span class="navbar-toggler-icon"></span>
  				</button>

  				<div class="collapse navbar-collapse" id="navbarSupportedContent">
    					<ul class="navbar-nav mr-auto">
      						<li class="nav-item active">
        						<a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
      						</li>
      						<li class="nav-item active">
        						<a class="nav-link" href="{{url_for('show_games', queryID='0')}}">Games <span class="sr-only">(current)</span></a>
      						</li>
							<li class="nav-item active">
        						<a class="nav-link" href="{{url_for('show_platforms', queryID='0')}}">Platforms <span class="sr-only">(current)</span></a>
      						</li>
							<li class="nav-item active">
        						<a class="nav-link" href="{{url_for('show_companies', queryID='0')}}">Companies <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="{{url_for('show_search')}}">Search <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item active">
        						<a class="nav-link" href="{{url_for('show_about')}}">About <span class="sr-only">(current)</span></a>
      						</li>
    					</ul>
  				</div>
			</nav>

			<div>
				<h1 class = "caroheads" align = "center"> About Us </h1>
			</div>

			<div class = "container aboutcaro">
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  					<div class="carousel-inner">

    					<div class="carousel-item active aboutcaro" style = "background-color:#f1bc8e;">
								<div>
									<h1 class = "caroheads" align="center">Hamza</h1>
									<div>
										<img class ="centerPhoto ourphotos" id = "hamzaphoto" src="/static/images/hamza.jpg">
									</div>
									<div class = "abouttext">
										<p>Bio: I am a senior at UT and Government Major.</p>
		    						<p>Major Responsibilities: I was in charge of the "About Page" and worked on collecting data</p>
		    						<p>Commits: {{commitsPerUser[0]}}</p>
		    						<p>Issues: {{issuesPerUser[0]}}</p>
									</div>
								</div>
    					</div>
    					<div class="carousel-item aboutcaro" style='background: #eec4e8;'>
    						<h1 class = "caroheads" align="center">Jessica</h1>
								<div>
									<img class ="centerPhoto ourphotos" id = "jessphoto" src="/static/images/jessica.jpg">
								</div>
								<div class = "abouttext">
									<p> Bio: Howdy! I'm Jessica, a senior Japanese major who loves drawing and is passionate about video games.</p>
									<p>Major Responsibilities: I worked on the visuals of the site in the front end. I am the CSS guy.</p>
									<p>Commits: {{commitsPerUser[1]}}</p>
	    						<p>Issues: {{issuesPerUser[1]}}</p>
								</div>
    					</div>
    					<div class="carousel-item aboutcaro" style='background: #428bca;'>
								<h1 class = "caroheads" align="center">Chu Nguyen</h1>
								<div>
									<img class ="centerPhoto ourphotos" id = "chuphoto" src="/static/images/chu.jpg">
								</div>
								<div class = "abouttext">
									<p>Bio: Hi, I am Chu. I am a Senior Math student who loves programming.</p>
	    						<p>Major Responsibilities: My responsibilty was to implement the back-end of the site</p>
	    						<p>Commits: {{commitsPerUser[2]}}</p>
	    						<p>Issues: {{issuesPerUser[2]}}</p>
								</div>
							</div>
    					<div class="carousel-item aboutcaro" style="background: #b9f3b2;">
								<h1 class = "caroheads" align="center">Patrick</h1>
								<div>
									<img class ="centerPhoto ourphotos" id = "patrickphoto" src="/static/images/patrick.jpg">
								</div>
								<div class = "abouttext">
									<p>Bio: Hi, I'm Patrick. I'm a junior actuarial science student.</p>
									<p>Major Responsibilities: I worked on the technical report and created the initial navigation bar.</p>
									<p>Commits: {{commitsPerUser[3]}}</p>
									<p>Issues: {{issuesPerUser[3]}}</p>
								</div>
							</div>
    					<div class="carousel-item aboutcaro" style='background: #f1747c;'>
								<h1 class = "caroheads" align="center">Angel</h1>
								<div>
									<img class ="centerPhoto ourphotos" id = "angelphoto" src="/static/images/angel.jpg">
								</div>
								<div class = "abouttext">
									<p>Bio: Hi, I'm Angel. I'm a fifth year Civil Engineering student.</p>
									<p>Major Responsibilities: I worked on the front-end of the site, mostly displaying the data in the pages and linking everything together.</p>
									<p>Commits: {{commitsPerUser[4]}}</p>
									<p>Issues: {{issuesPerUser[4]}}</p>
								</div>
							</div>
  					</div>

					<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
    					<span class="sr-only">Previous</span>
  					</a>
  					<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    					<span class="carousel-control-next-icon" aria-hidden="true"></span>
    					<span class="sr-only">Next</span>
  					</a>

  					<div id = "otherinfo" align = 'center' >
  						<p>This project had: </p>
  						<p>Commits: {{totalCommits}}</p>
    					<p>Issues: {{totalIssues}}</p>
							<p>Unit Tests: 6</p>
							<p><a href = "https://speakerdeck.com/drfluffingtons/video-juegos">SpeakerDeck</a></p>
							<a href = "https://gitlab.com/drfluffingtons/cs331e-idb/issues">GitLab Issue Tracker</a><br>
							<a href = "https://gitlab.com/drfluffingtons/cs331e-idb">GitLab Repo</a><br>
							<a href = "https://gitlab.com/drfluffingtons/cs331e-idb/-/wikis/home">GitLab Wiki</a><br>
    					<a href = "https://www.igdb.com/discover">All Data Collected From IGDB</a><br><br>
    					<p>Tools used for this website include: Python, Flask, Jinja, HTML, CSS, PostgreSQL, SQLAlchemy, Pandas, GCP, and Boostrap.</p>
    				</div>
				</div>
			</div>

			<div id = "testingblock">
				<form method = 'POST'>
        	<button>Unit Test</button>
      	</form>
				{{testing}}
			</div>

			<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
					integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
					crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
					integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
					crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
					integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
					crossorigin="anonymous"></script>
		</body>
</html>
