<!-- game.html -->
<html>
  <head>
    <link rel="stylesheet" href="
    https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/datapoint.css" type="text/css"/>
    <title>{{game.name}}</title>
    <link rel="icon" href="/static/images/logo.png">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #9D9BD7;">
      <a class="navbar-brand" href="{{url_for('index')}}" style = "font-family: kohinoor bangla;"><img src = "/static/images/logo.png" style = "width:50px; height:50px;"> Video Juegos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('show_games', queryID='0')}}">Games <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('show_platforms', queryID='0')}}">Platforms <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('show_companies', queryID='0')}}">Companies <span class="sr-only">(current)</span></a>
        </li>
		<li class="nav-item active">
		  <a class="nav-link" href="{{url_for('show_search')}}">Search <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item active">
          <a class="nav-link" href="{{url_for('show_about')}}">About <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      </div>
    </nav>
    {% if game != [] %}
		<div class="media itemwhole">
			<img height="auto" width="15%" src="{{game.cover_url}}" class="align-self-center mr-3 itemimage" alt="...">
			<div class="media-body itemdescription">
				<h2 class="mt-0">{{game.name}}</h2>
				{% if game.first_released_date != None %}
					<p class="mb-0">{{game.first_released_date}}</p>
				{% endif %}
				<p class="mb-0">
				{% for i in range(game.companies|length) %}
					{% if i == game.companies|length - 1 %}
						<a href="{{url_for('show_company',company_id=game.companies[i].id)}}">{{game.companies[i].name}}</a>
					{% else %}
						<a href="{{url_for('show_company',company_id=game.companies[i].id)}}">{{game.companies[i].name}}</a>,
					{% endif %}
				{% endfor %}
				</p>
				<p class="mb-0">
				Platforms:
				{% for i in range(game.availableIn|length) %}
					{% if i == game.availableIn|length - 1 %}
						<a href="{{url_for('show_platform',platform_id=game.availableIn[i].id)}}">{{game.availableIn[i].name}}</a>
					{% else %}
						<a href="{{url_for('show_platform',platform_id=game.availableIn[i].id)}}">{{game.availableIn[i].name}}</a>,
					{% endif %}
				{% endfor %}
				</p>
				<p class="mb-0">
				Genre:
				{% for i in range(game.belongsTo|length) %}
					{% if i  == game.belongsTo|length - 1 %}
						{{game.belongsTo[i].name}}
					{% else %}
						{{game.belongsTo[i].name}},
					{% endif %}
				{% endfor %}
				</p>
				<p class="mb-0">
				Rating: 
				{% for i in range(game.rated|length) %}
					{% if i  == game.rated|length - 1 %}
						{{game.rated[i].rating}} ({{game.rated[i].category}})
					{% else %}
						{{game.rated[i].rating}} ({{game.rated[i].category}}),
					{% endif %}
				{% endfor %}
				</p>
				<p class="mb-0">Review Score: {{game.rating}}</p>
				<!--<p class="mb-0">Game Engine: {{game['Game Engine']}}</p>-->
				<!--<p class="mb-0">Time to beat: {{game['Time to beat']}}</p>-->
				{% if game.summary != None %}
					<p class="mb-0">{{game.summary}}</p>
				{% endif %}
			</div>
		</div>
	{% endif %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
