<!-- index.html -->
<html>
	<head>
		<link rel="stylesheet" href="
		https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		crossorigin="anonymous">
		<link rel = "stylesheet" href="/static/css/splash.css" type="text/css"/>
		<link rel="icon" href="/static/images/logo.png">
		<title>
			Home
		</title>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #9D9BD7;">
  			<a class="navbar-brand" href="#" style = "font-family: kohinoor bangla;"><img src = "/static/images/logo.png" style = "width:50px; height:50px;"> Video Juegos</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>

  			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{url_for('show_games',queryID=0)}}">Games <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{url_for('show_platforms', queryID='0')}}">Platforms <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{url_for('show_companies', queryID='0')}}">Companies <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{url_for('show_search')}}">Search <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{url_for('show_about')}}">About <span class="sr-only">(current)</span></a>
					</li>
				</ul>
  			</div>
		</nav>

		<div id = "carocontain" class="container">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/images/gameshead.png" class="d-block w-100 h-100 imgfun" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/images/plathead.png" class="d-block w-100 h-100 imgfun" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/images/pubhead.png" class="d-block w-100 h-100 imgfun" alt="...">
          </div>
					<div class="carousel-item">
            <img src="/static/images/searchhead.png" class="d-block w-100 h-100 imgfun" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

		<div id = "allcontain">
			<div id = "infocontain">
				<h4 class = "bodytext">Welcome to Video Juegos!</h4>
	    </div>
		</div>


	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
</html>
