<html>
	<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			  crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/column.css" type="text/css"/>
	<link rel="icon" href="/static/images/logo.png">
	<title>
		Search
	</title>
	</head>

		<body>
			<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #9D9BD7;">
	  			<a class="navbar-brand" href="{{url_for('index')}}" style = "font-family: kohinoor bangla;"><img src = "/static/images/logo.png" style = "width:50px; height:50px;"> Video Juegos</a>

  				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    					<span class="navbar-toggler-icon"></span>
  				</button>

  				<div class="collapse navbar-collapse" id="navbarSupportedContent">
    					<ul class="navbar-nav mr-auto">
      						<li class="nav-item active">
        						<a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
      						</li>
      						<li class="nav-item active">
        						<a class="nav-link" href="{{url_for('show_games', queryID='0')}}">Games <span class="sr-only">(current)</span></a>
      						</li>
							<li class="nav-item active">
        						<a class="nav-link" href="{{url_for('show_platforms', queryID='0')}}">Platforms <span class="sr-only">(current)</span></a>
      						</li>
							<li class="nav-item active">
        						<a class="nav-link" href="{{url_for('show_companies', queryID='0')}}">Companies <span class="sr-only">(current)</span></a>
      						</li>
							<li class="nav-item active">
								<a class="nav-link" href="{{url_for('show_search')}}">Search <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item active">
        						<a class="nav-link" href="{{url_for('show_about')}}">About <span class="sr-only">(current)</span></a>
      						</li>
    					</ul>
  				</div>
			</nav>

			<div>
				<img class = "headimage" src="/static/images/searchhead.png"/>
			</div>

			<div class = "searchbar">
				<form action = "{{url_for('show_search', page=pgnum)}}" method = "POST">
						<input type = "text" name = "search_box" value = "">
						<button type="submit">Search</button>
				</form>
			</div>

			{% if pagegames != [] or pageplats != [] or pagecomps != [] %}
				<div class="table-responsive-xl tableformat">
					<table class="table">
						<thead class="thead">
							<tr>
								{% set colHeaders = ["Name", "Type"] %}
								{% for i in range(colHeaders|length) %}
									<th scope = "col" id = {{colHeaders[i]}} class = "text-center">
											{{colHeaders[i]}}
									</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
							{% if pagegames != [] %}
								{% for game in pagegames %}
								<tr>
									<td>
										<a href="{{url_for('show_game',game_id=game.id)}}">{{game.name}}</a>
									</td>
									<td>
										Game
									</td>
								</tr>
								{% endfor %}
							{% endif %}
							{% if pageplats != [] %}
								{% for plat in pageplats %}
								<tr>
									<td>
										<a href="{{url_for('show_platform',platform_id=plat.id)}}">{{plat.name}}</a>
									</td>
									<td>
										Platform
									</td>
								</tr>
								{% endfor %}
							{% endif %}
							{% if pagecomps != [] %}
								{% for comp in pagecomps %}
								<tr>
									<td>
										<a href="{{url_for('show_company',company_id=comp.id)}}">{{comp.name}}</a>
									</td>
									<td>
										Company
									</td>
								</tr>
								{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
			{% elif displayResults %}
				No Results Found
			{% endif %}

			<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		</body>
</html>
