<!-- show_games.html -->
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css/column.css" type="text/css"/>
		<link rel="icon" href="/static/images/logo.png">
		<title>
			Games
		</title>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #9D9BD7;">
  			<a class="navbar-brand" href="{{url_for('index')}}" style = "font-family: kohinoor bangla;"><img src = "/static/images/logo.png" style = "width:50px; height:50px;"> Video Juegos</a>

  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>

  			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{url_for('show_games', queryID='0')}}">Games <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{url_for('show_platforms', queryID='0')}}">Platforms <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{url_for('show_companies', queryID='0')}}">Companies <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{url_for('show_search')}}">Search <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{url_for('show_about')}}">About <span class="sr-only">(current)</span></a>
					</li>
				</ul>
  			</div>
		</nav>
		<div>
			<img class = "headimage" src="/static/images/gameshead.png"/>
		</div>

		<nav aria-label="Go through games pages at at top">
			<ul class="pagination justify-content-center">
				{% if pgnum == 1 %}
					<li class="page-item disabled">
						<a class="page-link" href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
				{% else %}
					<li class="page-item">
						<a class="page-link" href="{{url_for('show_games', queryID=queryID, page=pgnum-1)}}" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
				{% endif %}
				{% for i in range(1, maxpages + 1) %}
					{% if i == pgnum %}
						<li class="page-item active"><a class="page-link" href="{{url_for('show_games', queryID=queryID, page=i)}}">{{i}}</a></li>
					{% else %}
						<li class="page-item"><a class="page-link" href="{{url_for('show_games', queryID=queryID, page=i)}}">{{i}}</a></li>
					{% endif %}
				{% endfor %}
				{% if pgnum >= maxpages %}
				<li class="page-item disabled">
					<a class="page-link" href="{{url_for('show_games', queryID=queryID, page=pgnum)}}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
				{% else %}
					<li class="page-item">
						<a class="page-link" href="{{url_for('show_games', queryID=queryID, page=pgnum+1)}}" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				{% endif %}
			</ul>
		</nav>

		{% if pagegames != [] %}
			<div class="table-responsive-xl tableformat">
				<table class="table">
					<thead class="thead">
						<tr>
							{% set colHeaders = ["Title", "Year Published","Review Score","Genre","Rating","Platforms","Companies"] %}
							{% for i in range(colHeaders|length) %}
								<th scope = "col" id = {{colHeaders[i]}} class = "text-center">
									<div class="dropdown">
									<button class="btn btn-secondary dropdown-toggle dropcolor" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										{{colHeaders[i]}}
									</button>
									<ul class="dropdown-menu">
									<li>
										<form action = "{{url_for('show_games', queryID=i|string+'0', page=pgnum)}}" method = "POST">
											{% set attr = i|string + "0" %}
											<input type = "hidden" name = "sort_order" value = "{{attr}}">
											<button type="submit" class="dropdown-item">Sort Ascending</button>
										</form>
									</li>
									<li>
										<form action = "{{url_for('show_games', queryID=i|string+'1', page=pgnum)}}" method = "POST">
											{% set attr = i|string + "1" %}
											<input type = "hidden" name = "sort_order" value = "{{attr}}">
											<button type="submit" class="dropdown-item">Sort Descending</button>
										</form>
									</li>
									</ul>
									</div>
								</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for game in pagegames %}
						<tr>
							<td>
								{% if game.cover_url == None %}
									<figure>
										<img height="auto" width="150px" src="/static/images/noimg.png" class="rounded"/>
										<figcaption class="figure-caption"><a href="{{url_for('show_game',game_id=game.id)}}"><h6 class="mt-0">{{game.name}}</h6></a></figcaption>
									</figure>
								{% else %}
									<figure class="figure">
										<img height="auto" width="150px" src="{{game.cover_url}}" class="rounded" alt="...">
										<figcaption class="figure-caption"><a href="{{url_for('show_game',game_id=game.id)}}"><h6 class="mt-0">{{game.name}}</h6></a></figcaption>
									</figure>
								{% endif %}
							</td>
							<td>
								{% if game.first_release_date != None %}
									{{game.first_release_date}}
								{% else %}
									N/A
								{% endif %}
							</td>
							<td>
								{% if game.rating != None %}
									{{game.rating}}
								{% else %}
									N/A
								{% endif %}
							</td>
							<td>
								{% for i in range(game.belongsTo|length) %}
									{% if i  == game.belongsTo|length - 1 %}
										{{game.belongsTo[i].name}}
									{% else %}
										{{game.belongsTo[i].name}},
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for i in range(game.rated|length) %}
									{% if i  == game.rated|length - 1 %}
										{{game.rated[i].rating}} ({{game.rated[i].category}})
									{% else %}
										{{game.rated[i].rating}} ({{game.rated[i].category}}),
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for i in range(game.availableIn|length) %}
									<a href="{{url_for('show_platform',platform_id=game.availableIn[i].id)}}">{{game.availableIn[i].name}}</a>
									{% if i != game.availableIn|length - 1 %}
										<br>
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for i in range(game.companies|length) %}
									<a href="{{url_for('show_company',company_id=game.companies[i].id)}}">{{game.companies[i].name}}</a>
									{% if i != game.companies|length - 1 %}
										<br>
									{% endif %}
								{% endfor %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			No results found
		{% endif %}

		<nav aria-label="Go through games pages at bottom">
		  <ul class="pagination justify-content-center">
		    {% if pgnum == 1 %}
					<li class="page-item disabled">
						<a class="page-link" href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
				{% else %}
					<li class="page-item">
						<a class="page-link" href="{{url_for('show_games', queryID=queryID, page=pgnum-1)}}" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
				{% endif %}
				{% for i in range(1, maxpages + 1) %}
					{% if i == pgnum %}
						<li class="page-item active"><a class="page-link" href="{{url_for('show_games', queryID=queryID, page=i)}}">{{i}}</a></li>
					{% else %}
						<li class="page-item"><a class="page-link" href="{{url_for('show_games', queryID=queryID, page=i)}}">{{i}}</a></li>
					{% endif %}
				{% endfor %}

				{% if pgnum >= maxpages %}
				<li class="page-item disabled">
					<a class="page-link" href="{{url_for('show_games', queryID=queryID, page=pgnum)}}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
				{% else %}
					<li class="page-item">
						<a class="page-link" href="{{url_for('show_games', queryID=queryID, page=pgnum+1)}}" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
				{% endif %}
		  </ul>
		</nav>

		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	</body>
</html>
